$black: #000000 !default;
$white: #ffffff !default;
$font-family: "Roboto", "sans-serif" !default;
$tour-background: linear-gradient(
  90deg,
  rgb(51, 51, 51),
  rgb(116, 116, 116)
) !default;
$grey: rgb(116, 116, 116) !default;
$dark-grey: rgb(51, 51, 51) !default;
$red: rgb(170, 25, 25) !default;
